<span ng-show="user">
  {{user.email}} | <a ng-click="logout()">Logout</a>
</span>
<!--<br />-->
<!--<br />-->
<!--<input id="email" type="email" placeholder="email address" ng-model="email" />-->
<!--<input id="password" type="password" placeholder="password" ng-model="password" />-->
<!--<input id="login" type="button" value="Login" ng-click="login()" />-->
<!--<br />-->
<!--<br />-->
<!--<input id="signUpEmail" type="email" placeholder="email address" ng-model="signUpEmail" />-->
<!--<input id="signUpPassword" type="password" placeholder="password" ng-model="signUpPassword" />-->
<!--<input id="confirmPassword" type="password" placeholder="confirm password" ng-model="confirmPassword" />-->
<!--<input id="signUp" type="button" value="Sign Up" ng-click="signUp()" />-->
<!--<br />-->
<!--<br />-->
<!--<img src="" alt="Facebook login icon" title="Facebook login" />-->
<!--<img src="" alt="Twitter login icon" title="Twitter login" />-->
<!--<img src="" alt="GitHub login icon" title="GitHub login" />-->
<!--<img src="" alt="Persona login icon" title="Persona login" />-->


<div id="sign-in-container">
  <img src="img/wax-logo_variant_02.png" width="324" height="77" alt="logo">
  
  <!--sign in-->
  <div class="panel sign-in-panel">
  	<div class="panel-content" id="sign-in">
      <h1>Sign In</h1>
      <label for="email">Email</label>
      <input id="email" type="email" ng-model="email" />
      
      <label for="password">Password</label>
      <input id="password" type="password" ng-model="password" />
    
      <input id="login" type="button" value="Sign In" ng-click="login()" /> | <a href="#" style="font-size:0.8em;">or Create a New Account</a>
    </div>
  
    <!--sign me up scotty-->     
    <div class="panel-content" id="sign-up">
      <h1>Create New Account</h1>
      <label for="signUpEmail">Email</label>
      <input id="signUpEmail" type="email" ng-model="signUpEmail" />
      
      <label for="signUpPassword">Password</label>
      <div class="pass-confirm">
        <input id="signUpPassword" type="password" ng-model="signUpPassword" />
        <input type="checkbox" id="show-pass" /><label for="show-pass" class="small">Show password</label>
      </div>
    
      <button>Create Account</button>
      <p class="disclaimer">By signing up, you agree to be more awesome than before.</p>
    </div>
  
  </div>
</div> 
