<article component="some-component" tab="overview" style="display: block">
  <h2>Definition</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida pellentesque sapien, nec hendrerit quam pretium eu. </p>
<h2>	When to use</h2>

<p>Etiam porttitor vehicula sapien, non viverra massa suscipit in. Donec scelerisque, tortor eget pulvinar luctus, lacus lorem ornare enim, ut consequat velit augue quis lectus.</p>

<h2>When not to use</h2>
<p>Duis molestie placerat est, vitae gravida odio elementum a.</p>

<h2>How to use</h2>
<p>Quisque suscipit, lacus sed pellentesque gravida, mi lectus rhoncus elit, ac convallis augue nisi id sapien.</p>

<h2>Best practices</h2>
<p>Donec auctor orci et ligula tincidunt pharetra. Ut elementum, leo nec vestibulum tempus, massa risus euismod mauris, at rhoncus massa mauris sit amet diam. Morbi tristique imperdiet nunc, quis tincidunt nibh condimentum sit amet.</p>
</article>
<article component="some-component" tab="solution">
	<h2>Solution Details</h2>
</article>
<!--
<article component="some-component" tab="usability">
	<h2>Usability</h2>
</article>
-->
<article component="some-component" tab="performance">
	<h2>Performance</h2>
</article>
