<article component="some-component" tab="overview" style="display: block">
  <h2>Definition</h2>
  <p>The primary use of buttons is for submitting data and confirming actions as it relates specifically to data entry. Some common examples are "Save", "OK", and "Cancel" which are typically found within forms and dialogs as part of a user's workflow. </p>

<h2>	When to use</h2>
<p>Use buttons any time the user needs to complete an interaction. Such cases include pushing and pulling data from a server (e.g. saving, opening), confirming intent (e.g. deleting, closing), exporting/importing, printing, copying, etc. </p>

<h2>When not to use</h2>
<p>Don't use buttons for navigation. Hyperlinks are used for navigation and in most cases they should be used as such.</p>

<h2>How to use</h2>
<p>Quisque suscipit, lacus sed pellentesque gravida, mi lectus rhoncus elit, ac convallis augue nisi id sapien.</p>

<h2>Best practices</h2>
<p>Try not to use hyperlinks in place of buttons. Hyperlinks are used for navigation, but are often misappropriated as buttons. Doing this can create confusion for the user as it violates their expectations for these components.  </p>
</article>
<article component="some-component" tab="solution">
	<h2>Solution Details</h2>
</article>
<!--
<article component="some-component" tab="usability">
	<h2>Usability</h2>
</article>
-->
<article component="some-component" tab="performance">
	<h2>Performance</h2>
</article>
