<article component="some-component" tab="overview" style="display: block">
  <h2>Definition</h2>
  <p>Traditionally, a combo-box is a <em>combination</em> (get it?) of a drop-down list or list box and a single-line editable textbox, allowing the user to either type a value directly into the control or choose from a list of existing options.</p>
	<h2>Problem being solved</h2>
	<p>If the use case allows for it, allowing a user to provide their own value can increase data integrity assuming that the user knows what they're doing. For expert users, this can add real value while your novice users will appreciate having a list of default options.</p>
	<h2>Why you would use it</h2>
	<ul>
	  <li>If your user is able to select from a list of predefined values, OR provide a new value that is not already in the list.</li>		
	</ul>
	<h2>Why you would <span style="text-decoration: underline;">not</span> use it</h2>
	<ul>
		<li>This might seem obvious, but do not confuse this component with a standard drop-down list. If the use case you are trying to solve for does not allow for unique entries then a combo-box should not be used.</li>
	</ul>
	
	<h2>Best Practices</h2>
	<ul>
		<li>In our experience, a combo-box is not a commonly used component so make sure that your use case actually allows for a user to enter their own value.</li>
	</ul>
	
</article>
<article component="some-component" tab="solution">
	<h2>Solution Details</h2>
</article>
<article component="some-component" tab="usability">
	<h2>Usability</h2>
</article>
<article component="some-component" tab="performance">
	<h2>Performance</h2>
</article>
