<article component="some-component" tab="overview" style="display: block">
  <h2>Definition</h2>
  <p>A tooltip is an overlay (i.e. modal rectangle) used for displaying additional content or functionality as it relates directly to a specific object on the user interface (e.g. icon, button, text). Typically, a tooltip is triggered by a mouse-hover or -click event.</p>
<h2>	When to use</h2>

<p>Centuries ago, tooltips were used primarily for providing descriptions for toolbar icons within native, desktop applications. For a long time now tooltips have also been found within web-based applications as well. Tooltips should always serve the single purpose of providing additional information to the user about an object that they object cannot do on its own. Icons are great examples of this because often—despite best efforts—some icons are just not self-explanatory. However, tooltips should be used anywhere within an application where more information would be helpful but where it’s also not necessary to display that information all the time.</p>

<h2>When not to use</h2>
<p>No one likes a Chatty Cathy, so in most all cases there is no need to use tooltips on buttons, hyperlinks, or other text where there is already a label that specifically describes that interface object’s intent.</p>

<h2>How to use</h2>
<p>There are really only two options with one being way better than the other. Tooltips typically display on a mouse-hover, displaying within 1 second of this interaction. Tooltips could also display on mouse-click but in their strictest usage we can’t advise doing this without feeling bad about it. </p>

<p>If you’re really hung up on displaying a tooltip on a mouse-click action you might want to check out menu, dialog, or inline help.</p>

<h2>Best practices</h2>
<p>Keep things concise. Tooltips should offer a description just long enough to read and gain understanding in less than a second... maybe two. Any more than this, and you have other more pressing problems.</p>
</article>
<article component="some-component" tab="solution">
	<h2>Solution Details</h2>
</article>
<article component="some-component" tab="usability">
	<h2>Usability</h2>
</article>
<article component="some-component" tab="performance">
	<h2>Performance</h2>
</article>
